
body{
   color: purple;
    background-color: rgb(231, 197, 188)
}
li a {
    display: block;
    padding: 15px;
    color: purple
    font-size: larger;
    text-decoration: none;
}
.navbar{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border: 15px;
    background-color: rgb(185, 180, 180);

}
img{ 
    display: inline-flex;
    margin-right: 100px;
    margin-left: 0;
    opacity: 0.7;
    float: left;
    padding-left: 100px;
    padding-right: 0px;
    border-radius: 50px;
    border-right: 0px;
    
}
.intro{
    width: auto;
    height: 400px;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    padding-bottom: 80px;
    padding-left: 0px;
    border: 0px dotted;
    margin-left: 600px;
    border-radius: 100px; 
}
.me{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.reg-wrapper{
    text-align: center;
    font-size: x-large;
}
.register{
    display: flexbox;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;

}
.table container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
tr{
    
    background-color: rgb(168, 163, 161);
    opacity: 0.5;
    border: 300px;
    border-radius: 10px;
    border-style: solid;
   
    font-size: 100px;
}
.div{
    border: 100px solid red;
}